$black: #333333;
$soft-black: #393939;
$cloudy-white: #ecf0f1;
$white: #ffffff;
$background-search: #f8f5f4;
$font-color: #666666;
$border-color: rgba(0, 0, 0, 0.2);
$asbestos: #7f8c8d;
$belize-hole: #2980b9;
$silver: #bdc3c7;
$silver-hover: rgba(189, 195, 199, 0.5)