<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Suited?</title>
</head>
<body>
  <div class="search-container">
    <h1>Suited<span class="blinking">?</span></h1>
    <div class="spotlight-search">
      <input type="text" class="spotlight-input" id="search-field" placeholder="Please enter your company name" autofocus />
      <ul id="results"></ul>
    </div>
  </div>

  <div class="container">
    <p class="welcome animated fadeIn">Thanks for taking the time to review my application</p>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="personality animated fadeInLeft slower"> I am a <span class="personality-trait"></span> who has a keen interest in <span>large scale cloud platforms</span></p>
        </div>
      </div>
    </div>

    <div clas="row">
      <div class="col-12">
        <div class="skill-overview">
          <!-- <p class="job-requirements animated bounceInRight slower">As per the requirements of the (enter job title here) job I have experience in:</p> -->
          <div></div>
          <div class="show-hide">
            <ul class="animated fadeInRight slower carousel technical-traits-carousel"></ul>
          </div>
          <div>
            is my JAM!
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="technical-container animated fadeIn slower">
    <div class="container technical-traits-section"></div>
  </div>
</body>
</html>